{% load get_range %}
{% load int %}
<html>
<head>
<style>
/* html5doctor.com Reset v1.6.1 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
/* end reset */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* end reset */
table{
	border-collapse:separate;
	empty-cells:hide;
}
td,input{
	min-width:50px;
}
td[empty]{
	width: 0;
}
.hidden{
	display: none;
}
tfoot{
	text-align: center;
}
tr td:first-child {
	text-align: center;
}
</style>
</head>
<body>
	{% if valid %}
		<p> valid </p>
	{% endif %}

	<form method="post" action="" id="dbmatrix_form" >
		{% csrf_token %}
		{{ forms.management_form }}
		<table>
			<tbody>
				<tr>
				{% for form in forms|dictsort:'initial.row' %}
					{% ifchanged form.initial.row %}
						{% if forloop.counter != 1 %}
							</tr>
							<tr>
						{% endif %}
						<td>
							<input type="button" onClick="javascript:change_action('{% url 'rm_row' table_id=table_id|integer row=row_iter.next %}')" value="-"/>
						</td>
					{% endifchanged %}

					{% for field in form.visible_fields %}
							<td>
								<!-- {{ field }} -->
								<input
									id="{{ field.auto_id }}"
									{% for key, val in field.field.widget.attrs.items %}
	    								{{ key }}="{{ val }}"
	    							{% endfor %}
	    							name="{{ field.html_name }}"
									type="{{ field.field.widget.input_type }}"
									value="{{ field.value }}"
									comment="{{ field.help_text }}"
								/>
							</td>
					{% endfor %}
					
					{% for field in form.hidden_fields %}
						{{ field }}
					{% endfor %}
					
				{% endfor %}
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					{# {% for pos in dimension.column|get_range %} #}
					<!-- {{ col_iter.values.reverse }} -->
					{% for pos in col_iter.values %}
						<td>
							<input type="button" onClick="javascript:change_action('{% url 'dbmatrix.views.rm_column' table_id=table_id column_pos=pos %}')" value="-"/>
						</td>
					{% endfor %}
				</tr>
				<tr> 
					<td><input type="button" onClick="javascript:change_action('{% url 'dbmatrix.views.add_col' table_id=table_id %}')" value="+ colonna"/></td> 
					<td><input type="button" onClick="javascript:change_action('{% url 'dbmatrix.views.add_row' table_id=table_id %}')" value="+ riga"/></td></td> 
				</tr>
			</tfoot>
		</table>
		<input type="submit" name="act" value="submit"/>
	</form>
	<script type="text/javascript">
		function change_action(action){
			form = document.forms["dbmatrix_form"];
			form.action = action ;
			form.submit();
		}
	</script>
</body>
</html>