<html>
<head>
<style>
/* html5doctor.com Reset v1.6.1 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
/* end reset */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* end reset */
.errorlist{
    color:red;
}
</style>
</head>
<body>
    {% if valid %}
        <p>valid</p>
    {% endif %}
    <form method="post" action="">
        {% csrf_token %}
        {% for field in form %}
            {% ifequal field.html_name "offerta_tecnica" %}
                <p> offerta tecnica</p>
                <iframe src="{% url 'dbmatrix.views.edit' offerta_tecnica %}" name="offerta-tecnica" sandbox="allow-same-origin allow-scripts allow-forms"></iframe>
            {% else %}
                {% ifequal field.html_name "offerta_economica" %}
                    <p>offerta economica</p>
                    <iframe src="{% url 'dbmatrix.views.edit' offerta_economica %}" name="offerta-economica" sandbox="allow-same-origin allow-scripts allow-forms"></iframe>
                {% else %}
                    {% ifequal field.html_name "documenti" %}
                        <p>docuementi</p>
                    {% else %}
                        <p>
                            <label for="{{ field.auto_id }}">
                                {{ field.label }}
                            </label>
                            {{ field }}
                        </p>
                    {% endifequal %}
                {% endifequal %}
            {% endifequal %}            
        {% endfor %}
        <input type="submit" value="submit"/>
    </form>
</body>
</html>